<li class="card-dashboard" data-network="{{ icon }}">
    <div class="dashboard-url">
        <img src="svg/icon-{{ icon }}.svg" />
        <span>{{ url }}</span>
    </div>
    <div class="dashboard-number">{{ number }}</div>
    <div class="dashboard-text">{{ text }}</div>
    <div class="card-trend" data-trend="{{ trend }}">{{ stats }}</div>
</li>