<li class="card-overview">
    <div class="overview-text">{{ text }}</div>
    <div class="overview-icon">
        <img src="svg/icon-{{ icon }}.svg" />
    </div>
    <div class="overview-number">{{ number }}</div>
    <div class="card-trend" data-trend="{{ trend }}">{{ percentage }}</div>
</li>