<li class="card-item" data-network="{{ icon }}">
    <dl class="card-dashboard">
        <dt class="dashboard-url">
            <img src="svg/icon-{{ icon }}.svg" alt="{{ icon }}" />
            <span class="sr-only">user</span>
            <span>{{ url }}</span>
        </dt>
        <dd class="dashboard-number">{{ number }}</dd>
        <dd class="dashboard-text">{{ text }}</dd>
        <dd class="card-trend" data-trend="{{ trend }}"><span class="sr-only">{{ trend }} </span>{{ stats }}</dd>
    </dl>
</li>