<li class="card-item">
    <dl class="card-overview">
        <dt class="overview-text">{{ text }}</dt>
        <dd class="overview-icon">
            <img src="svg/icon-{{ icon }}.svg" alt="{{ icon }}" />
        </dd>
        <dd class="overview-number">{{ number }}</dd>
        <dd class="card-trend" data-trend="{{ trend }}">{{ percentage }} <span class="sr-only">{{ trend }}</span></dd>
    </dl>
</li>